
* { margin:0; padding:0; box-sizing:border-box; font-family:Arial, sans-serif; }
body { 
    background-color: #dfdddd9d;
    background-image: url(./images1/grains.jpg);
    background-repeat: repeat;
    background-size: 20px 20px;

 }
html { scroll-behavior: smooth; }

/* 
   navbar
 */

nav {
    display:flex; justify-content:space-between; align-items:center;
    padding:10px 20px; background-color:#ccc; position:fixed; width:100%; top:0; border-bottom:1px solid #999;
}
.logo { font-size:1.5rem; font-weight:bold; }
.nav-links { list-style:none; display:flex; gap:30px; }
.nav-links a { text-decoration:none; color:#000; font-size:1rem; }

/* 
   header
 */

header {
    height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center;
    text-align:center; padding:0 20px; background-color:#ddd ; background-position:center;background-size: cover; background-repeat: no-repeat; 
}
header h1 { font-family:serif ;font-size:5rem; margin-bottom:35px; color:#ffffff; -webkit-text-stroke: 1px black;}
header p { font-size:1.2rem; margin-bottom:25px; max-width:600px; color: #ffffff;}
.btn-main { padding:15px 20px; background-color:#2E8B57; color:#fff; border:none; border-radius:20px; cursor:pointer; text-decoration:none; margin-bottom: 25px; }
.btn-main { padding:15px 20px; background-color:#2E8B57; color:#fff; border:none; border-radius:20px; cursor:pointer; text-decoration:none; }

/* 
   section
 */

section { padding:60px 50px; }
.section-title { text-align:center; margin-bottom:40px; }
.section-title h2 { font-size:2rem; }

/* 
    grid
 */

.services-grid { display:grid; grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); gap:20px; }
.service-card { background-color:#eee; padding:25px; border-radius:5px; text-align:center; }

/* 
   places
 */

.places-grid { display:grid; grid-template-columns:repeat(auto-fit,minmax(300px,1fr)); gap:30px; }
.place-card {
    height:350px; border-radius:5px; cursor:pointer;
    background-size:cover; background-position:center; display:flex; flex-direction:column; justify-content:flex-end;
    padding:20px;
}
.place-info h3 { font-size:1.5rem; color:#fff; }
.place-info p { font-size:0.9rem; color:#fff; }

/* 
   popup
 */

.modal-container {
    position:fixed; top:0; left:0; width:100%; height:100%;
    background:rgba(0,0,0,0.8); display:none; justify-content:center; align-items:center; z-index:2000;
}
.modal-container.active { display:flex; }
.modal-content {
    background:#fff; color:#000; padding:30px; border-radius:10px; max-width:500px; width:90%; position:relative; text-align:left;
}
.close-btn { position:absolute; top:10px; right:15px; font-size:1.5rem; cursor:pointer; color:#000; }


@media(max-width:768px){
    .nav-links{display:none;}
    header h1{font-size:2rem;}
}


.member-grid{
    padding: 20px; display:grid; grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); gap:50px
}
.member-card { background-color:#eee; padding:150px; border-radius:5px; text-align:center; }
